
    


    /*  767-1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        
            position: absolute;
            width: 100%;
            padding: 0 2%;
        }

        .row {
            padding: 0 2%;
        }
    }

    /*   767-1023px */

@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy {
        width:80%;
        margin-left:10% ;
    }
    }

    /*   481-767px */

@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    .row,
    .hero-text-box { 
        padding: 0 4%;
        text-align: center;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav { display: none; }
    .mobile-nav-icon {
        display: inline-block;
        position: relative;
        z-index: 9999;
    }
    .main-nav {
        float: none;
        position: absolute;
        z-index: 8888;
        width: 100%;
        /*height: 100vh;*/
        margin: 0;
        margin-left: -4%;
        background-color: rgba(0, 0, 0, 0.9);
        text-align: center;
        padding: 10px 0;
    }
    .main-nav li {
        display: block;
        margin-left: 0;
        font-size: 110%;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
        margin-left: 3rem;
    }
    .sticky .main-nav { margin-top: 0; }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
        color: #fff;
    }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    .sticky .mobile-nav-icon i.ion-close-round { color: #fff; }
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    }

 /*  0-480px */

 @media only screen and (max-width: 480px) {
    header {
        height: 100%;
      }
      .hero-text-box {
          position: relative;
          margin-top: 150px;
          text-align: center;
      }

      .btn-full:link,
      .btn-full:visited {
          margin-right: 5px;
      }


    }
 

/* 0-420 */

 @media only screen and (max-height: 420px) {
    header {
      height: 100%;
    }
    .hero-text-box {
        position: relative;
        margin-top: 100px;
    }
  }
 