/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- BASIC COMPONENTS ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    background-color:#FFFFFF;
    color: #555555;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}

/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- REUSABLE COMPONENTS ------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.row {

    max-width: 1140px;
    margin: 0 auto;

}

section {

    padding: 80px 0;

}

.box {

    padding: 1%;

}

/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- HEADINGS ------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------- */

h1,
h2,
h3 {

    font-weight: 300;
    text-transform: uppercase;
    
    
}

h1 {

    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 250%;
    word-spacing: 4px;

}

h2 {

    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}

h3 {

    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 400;

}

h2:after {

    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}


/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- FEATURES -------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.section-features .long-copy {

    margin-bottom: 40px;

}


/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- PARAGRAPHS ---------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.long-copy {

    line-height: 145%;
    width: 70%;
    margin-left: 15%;

}


.box {

    font-size: 90%;
    line-height: 145%;

}

/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- ICONS --------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.icon-big {

    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    
}

/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- BUTTON COMPONENTS --------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.btn:link,
.btn:visited {

    display: inline-block;
    padding: 10px 20px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    
}

.btn-full:link,
.btn-full:visited {

    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 45px;

}

.btn-ghost:link,
.btn-ghost:visited {

    border: 1px solid #e67e22;
    color: #e67e22;

}

.btn:hover,
.btn:active {

    background-color: #95a5a6;

}

.btn-full:hover,
.btn-full:active {

    border: 1px solid #95a5a6;
    font-weight: 600;

}

.btn-ghost:hover,
.btn-ghost:active {

    border: 1px solid #95a5a6;
    color: #fff;
    font-weight: 600;

}



/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- HEADER COMPONENTS --------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/phone2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}

.hero-text-box {
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.hero-text-box span {
    font-weight: 400;
    color: #e67e22;
}


.logo {

    height: 110px;
    width: auto;
    float: left;
    margin-top: 20px;
    opacity: 0.9;
    transition: transform 0.3s;

}

.logo-black {
    display: none;
    height: 65px;
    width: auto;
    float: left;
    margin: 5px 0;
    

}

.logo:hover {

    opacity: 1;
    transform: scale(1.1);
    transition: 0.3s;

}


/* Main Navigation */

.main-nav {

    float: right;
    list-style: none;
    margin-top: 60px;

}

.main-nav li {

    margin-right: 60px;
    display: inline-block;

}

.main-nav li a:link,
.main-nav li a:visited {

    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;

}

.main-nav li a:hover,
.main-nav li a:active {

    border-bottom: 3px solid #e67e22;
    font-weight: 400;

}

/* Sticky Navigation */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.952);
    -webkit-box-shadow: 0 2px 2px rgb(219, 219, 219);
            box-shadow: 0 2px 2px rgb(219, 219, 219);
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {

    padding: 15px 0;
    color: #555;
}

.sticky .main-nav {
    margin-top: 18px;
}
.sticky .logo {
    display: none;
}
.sticky .logo-black {
    display: block;
}



/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- FOOTER COMPONENTS --------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 55px 60px 40px;
    margin-top: 80px;
    overflow: hidden;
}

/* Footer Left */

.footer-distributed .footer-left{
    float: left; 
    
}

/* Company Logo */

.footer-distributed h3{
    color: #ffffff;
    font: normal 36px 'cookie' cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color: #5383d3;
}

/* footer links */

.footer-distributed .footer-links{
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-caption{
    color: #8f9296;
    font-size: 17px;
    line-height: 38px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-icons{
    margin-top: 40px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/*  --- Footer right ---*/

.footer-distributed .footer-right{
    float: right; 
       
}

.footer-distributed .footer-right img{
    float: left;
    margin-right: 10px;
    clear: both;
}
.footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
    overflow: auto;
}

/* -- Contact Form ---*/

.footer-distributed form{
    display: inline-block
}

.footer-distributed form input,
.footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    
    width: 400px;
    padding: 18px;
}

.footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}
